/app/config/parameters.yml
/build/
/phpunit.xml
/vendor/
/web/bundles/
/bin/
/.idea/
.idea/
.idea/*
.idea/*.xml
.idea/encoding.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml.xml
.idea/*.iml
.idea/PSR15-CSRF.iml
/composer.phar
.idea/workspace.xml
/.idea/workspace.xml
**/.idea/workspace.xml